{% extends '_base.html.twig' %}

{% block title %}
	{% trans %}tab.title.admin.user{% endtrans %}
{% endblock %}

{% block content %}

{% set user = form.vars.value %}

	<h1 class="d-inline">
		{% include '_core/renderer/back_button.html.twig' with {
		'url_back': path("app_admin_user_index")
		}
		%}
		{% trans %}heading.admin.user{% endtrans %}
	</h1>

	<hr>

	<div class="row row-cols-1 row-cols-md-2 gy-4">
		<div class="col">

			<div class="card bg-dark border border-0 rounded-3 shadow-sm text-white-50 h-100">

				<div class="card-header py-3">
					<div class="d-flex justify-content-between">
						<h3 class="my-0 d-inline">
							{% trans %}admin.user{% endtrans %}
						</h3>
						{% include "_core/renderer/boolean_btn.html.twig" with {
											'bool': user.isActive, 
											'url_on': path("app_admin_user_activate", {id:user.id}), 
											'url_off' : path("app_admin_user_deactivate", {id:user.id})
											}	
										%}
					</div>
				</div>

				<div class="card-body d-flex flex-column justify-content-between">
					{% include 'admin/user/_partials/edit_form.html.twig' %}
				</div>

			</div>

		</div>

		<div class="col">

			<div class="card bg-dark border border-0 rounded-3 shadow-sm text-white-50 h-100">

				<div class="card-header py-3">
					<h3 class="my-0">
						{% trans %}admin.user.actions{% endtrans %}
					</h3>
				</div>

				<div class="card-body d-flex flex-column justify-content-between">
					{% include 'admin/user/_partials/single_actions.html.twig' %}
				</div>

			</div>

		</div>
	</div>

{% endblock %}
{# No "direct" use, serves as a base file for any new view #}
{# uncomment if the page is less than 100vh 
	{% block footer %}
		<div class="fixed-bottom">
			{{ parent() }}
		</div>
	{% endblock %}
	 #}
