{% extends '_base.html.twig' %}

{% block title %}
	{% trans %}tab.title.home{% endtrans %}
{% endblock %}

{% block content %}
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 mb-4 gy-4">

		<div class="col">
			{% include "home/partials/news.html.twig" %}
		</div>

		<div class="col">

			<div class="row row-cols-1 gy-4">

				<div class="col">
					{% include "home/partials/statistics.html.twig" %}
				</div>

				<div class="col">
					{% include "home/partials/random.html.twig" %}
				</div>

			</div>

		</div>

	</div>

	<div class="row row-cols-1 mb-4">

		<div class="col">
			{% include "home/partials/stuff.html.twig" %}
		</div>

	</div>

	<div class="row row-cols-1 mb-4">

		<div class="col">
			{% include "home/partials/stuff.html.twig" %}
		</div>

	</div>

	<div class="row row-cols-1">

		<div class="col">
			{% include "home/partials/stuff.html.twig" %}
		</div>

	</div>


{% endblock %}
