<div class="modal" id="searchModalMobile" data-backdrop='false' aria-labelledby="searchBarMobile" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content bg-dark text-white-50">
			<div class="modal-header">
				<input class="form-control" type="search" placeholder="{% trans %}search.quick{% endtrans %}" aria-label="Search">
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>
