{% extends 'base.html.twig' %}


{% block content %}
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 mb-4">

		<div class="col">
			{% include "main/partials/news.html.twig" %}
		</div>

		<div class="col">

			<div class="row row-cols-1">

				<div class="col">
					{% include "main/partials/statistics.html.twig" %}
				</div>

				<div class="col pt-4">
					{% include "main/partials/random.html.twig" %}
				</div>

			</div>

		</div>

	</div>

	<div class="row row-cols-1 mb-4">
		
		<div class="col">
			{% include "main/partials/stuff.html.twig" %}
		</div>

	</div>

		<div class="row row-cols-1">
		
		<div class="col">
			{% include "main/partials/stuff.html.twig" %}
		</div>

	</div>


{% endblock %}
