{% if bool %}
	{% if url_off is defined and url_off != "" %}
		<a href="{{url_off}}" class="badge rounded-pill text-bg-success text-decoration-none">OUI</a>
	{% else %}
		<span class="badge rounded-pill text-bg-success">OUI</span>
	{% endif %}
{% else %}
	{% if url_on is defined and url_on != "" %}
		<a href="{{url_on}}" class="badge rounded-pill text-bg-danger text-decoration-none">NON</a>
	{% else %}
		<span class="badge rounded-pill text-bg-danger">NON</span>
	{% endif %}
{% endif %}
