<ul class="navbar-nav ms-auto flex-row fs-8">

	<li class="nav-item mx-2 ms-lg-0 me-xl-3">
		<a class="nav-link" href="">
			{% trans %}footer.contact{% endtrans %}
		</a>
	</li>
	<li class="nav-item mx-2 ms-lg-0 me-xl-3">
		<a class="nav-link" href="">
			{% trans %}footer.legal{% endtrans %}
		</a>
	</li>
	<li class="nav-item ms-2 ms-lg-0 me-xl-3">
		<a class="nav-link" href="">
			{% trans %}footer.privacy{% endtrans %}
		</a>
	</li>

</ul>
