<ul class="navbar-nav ms-auto flex-row fs-4">

	<li class="nav-item ms-1">
		<a class="nav-link py-0" href="https://google.fr" target="_blank">
			<i class="bi bi-github" role="img"></i>
		</a>
	</li>

</ul>
