{% extends '_base.html.twig' %}

{% block title %}
	{% trans %}tab.title.page{% endtrans %}
{% endblock %}

{% block content %}

	<h1>
		{% trans %}heading.albums{% endtrans %}
	</h1>
	<hr>
	<div>
		<button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdropCreateAlbum">
			{% trans %}album.create{% endtrans %}
		</button>
		{% include "album/_modals/create.html.twig" %}
	</div>
	<hr>

	<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mb-4 gy-4">
		{% for album in albums %}
			<div class="col">
				{% include "album/_partials/album_card.html.twig" %}
			</div>
		{% endfor %}

		{# this modal is shared between each album (the form/data is replaced using an async request) #}
		{% include "album/_modals/rename.html.twig" %}

	</div>


{% endblock %}


{# No "direct" use, serves as a base file for any new view #}


{# uncomment if the page is less than 100vh 
{% block footer %}
	<div class="fixed-bottom">
		{{ parent() }}
	</div>
{% endblock %}
 #}
