<nav class="navbar navbar-dark bg-dark py-1 fs-9 mt-5 border-top">
	<div class="container">

		{% include "_core/layout/footer/partials/copyright.html.twig" %}

		{% include "_core/layout/footer/partials/social.html.twig" %}

		{% include "_core/layout/footer/partials/menu_primary.html.twig" %}

	</div>
</nav>
