{% if is_granted('ROLE_TESTER') %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle text-warning py-lg-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-tools text-warning me-1 fs-5" role="img"></i>
			<span class="d-inline d-lg-none">{% trans %}header.menu.test{% endtrans %}</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
			<li>
				<a class="dropdown-item" href="{{path('app_admin_index')}}">
					{% trans %}header.menu.test{% endtrans %}
				</a>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li>
				<a class="dropdown-item" href="">Action</a>
			</li>
			<li>
				<a class="dropdown-item" href="">Another action</a>
			</li>
			<li>
				<a class="dropdown-item" href="">Something else here</a>
			</li>
		</ul>
	</li>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle text-danger py-lg-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-radioactive text-danger me-1 fs-5" role="img"></i>
			<span class="d-inline d-lg-none">{% trans %}header.menu.admin{% endtrans %}</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
			<li>
				<a class="dropdown-item" href="{{path('app_admin_index')}}">
					<i class="bi bi-speedometer me-1" role="img"></i>
					{% trans %}header.menu.admin{% endtrans %}
				</a>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_admin_user_index')}}">
					<i class="bi bi-person-lines-fill me-1" role="img"></i>
					{% trans %}header.menu.admin.users{% endtrans %}
				</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_admin_news_index')}}">
					<i class="bi bi-newspaper me-1"></i>
					{% trans %}header.menu.admin.news{% endtrans %}
				</a>
			</li>
			<hr class="dropdown-divider">	
			<li>
				<a class="dropdown-item" href="">Action 3</a>
			</li>
		</ul>
	</li>
{% endif %}
