<ul class="navbar-nav fs-5 align-items-lg-center">

	{% if not is_granted('ROLE_TESTER') %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-warning py-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-tools text-warning" role="img"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
				<div class="d-none d-lg-block">
					<li class="px-3">
						{% trans %}header.menu.test{% endtrans %}
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
				</div>
				<li>
					<a class="dropdown-item" href="">Action</a>
				</li>
				<li>
					<a class="dropdown-item" href="">Another action</a>
				</li>
				<li>
					<a class="dropdown-item" href="">Something else here</a>
				</li>
			</ul>
		</li>
	{% endif %}

	{% if not is_granted('ROLE_ADMIN') %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-danger py-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-radioactive text-danger" role="img"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
				<div class="d-none d-lg-block">
					<li class="px-3">
						{% trans %}header.menu.admin{% endtrans %}
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
				</div>
				<li>
					<a class="dropdown-item" href="">Action 1</a>
				</li>
				<li>
					<a class="dropdown-item" href="">Action 2</a>
				</li>
				<li>
					<a class="dropdown-item" href="">Action 3</a>
				</li>
			</ul>
		</li>
	{% endif %}

</ul>
