<form class="ms-2 ms-xl-auto me-lg-2 w-25 w-lg-auto">
	<div class="input-group flex-nowrap">
		<input class="form-control" type="search" placeholder="{% trans %}search.quick{% endtrans %}" aria-label="Search">
		<i class="bi bi-search input-group-text bg-dark text-light" role="img"></i>
	</div>
</form>