{% extends '_core/core.html.twig' %}

{% block body %}

	<header>
		{% include "_core/layout/header/header.html.twig" %}
	</header>


	<main class="h-100">

		{% include "_core/layout/flash/flash.html.twig" %}

		<div class="container pt-5">
			{% block content %}{% endblock %}
		</div>

	</main>

	<footer>
		{% include "_core/layout/footer/footer.html.twig" %}
	</footer>

{% endblock %}
