<div class="modal fade" id="staticBackdropManualVerification" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-dark">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">{% trans %}heading.manual.verification{% endtrans %}</h5>
				<button class="btn-close btn-close-light" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<a href="{{path('app_admin_user_verify', {id:user.id})}}" class="btn btn-light" role="btn">
					{% trans %}confirm{% endtrans %}
				</a>

			</div>
		</div>
	</div>
</div>
