{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}

{{form_row(form.username)}}
{{form_row(form.email)}}
	
<button class="btn btn-info" type="submit">
	{% trans %}edit.user{% endtrans %}
</button>

{{form_end(form)}}
