<div class="row row-cols-1 gy-3">

	<div class="col">
		<span class="d-block">
			{% trans %}password{% endtrans %}
		</span>
		<hr class="mt-0 mb-2">

		<div class="row cols-1 cols-md-2 cols-xl-3">

			<div class="col">
				<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdropPasswordReset">
					{% trans %}password.reset{% endtrans %}
				</button>
			</div>

		</div>

		{% include 'admin/user/_modals/password_reset.html.twig' %}

	</div>

	{% if not user.isVerified %}
		<div class="col">
			<span class="d-block">{% trans %}user.verification{% endtrans %}</span>
			<hr class="mt-0 mb-2">

			<div class="row cols-1 cols-md-2 cols-xl-3">

				<div class="col">
					<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdropResendEmail">
						{% trans %}email.resend{% endtrans %}
					</button>
				</div>
				<div class="col">
					<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdropManualVerification">
						{% trans %}verification.manual{% endtrans %}
					</button>
				</div>
			</div>
		</div>


		{% include 'admin/user/_modals/resend_email.html.twig' %}
		{% include 'admin/user/_modals/manual_verification.html.twig' %}

	{% endif %}

	<div class="col">

		<span class="d-block">{% trans %}danger.zone{% endtrans %}</span>
		<hr class="mt-0 mb-2">

		<div class="row cols-1 cols-md-2 cols-xl-3">

			<div class="col">
				<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropUserDelete">
					{% trans %}user.delete{% endtrans %}
				</button>
			</div>

		</div>

		{% include 'admin/user/_modals/user_delete.html.twig' %}

	</div>

</div>
